@charset "utf-8";

/* HTML and Body styles */

html
{
   background: url(dlr_back2.png), rgb(227, 0, 34);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

/* Navigation list styles */

nav a{
   text-decoration: none;
   background-color: blue;
}

.list-horizontal li {
  display:inline-block;
}
.list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color:#999;
  color:rgba(0,0,0,0.5);
  font-size:11px;
}
.list-horizontal li:first-child:before {
  content: '';
}

/* Image styles */



/* Footer styles */   

footer {
   color: white;    
   background: linear-gradient(to right, rgb(153, 83, 6) 30%, black);   
   font-size: 0.65em;  
   font-style: normal;
   height: 30px;
   line-height: 30px;   
   text-align: center;
  
}


#navicon li {
    display: inline;
    font-size:10px;
    height:15px;
    left:10px;
    list-style-type:none;
    margin:.5em .5em 0em -3.4em;
    position:relative;
    text-align:left;
}
a#navicon {
   display: none;
}
